body
{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
#card
{
    position: absolute;
    width: 400px;
    height: 500px;
    transform-style: preserve-3d;
    transform: perspective(500px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#card .front,
#card .back
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#card .front
{
    background: url('./img/Bluefire.jpg');
    background-size: cover;
}
#card .back
{
    background: url('./img/Redfire.jpg');
    background-size: cover;
    transform: rotateY(180deg);
}
